@using OWM.UI.Web.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="~/js/Detector.js"></script>
        <script src="~/js/three.min.js"></script>
        <script src="~/js/globe.js"></script>
        <link href="~/css/styles.css" rel="stylesheet" />
        <link href="~/css/bootst.css" rel="stylesheet" />
        <script src="~/js/notify.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="~/css/chosen.css" rel="stylesheet" />
        <script src="~/js/chosen.jquery.js"></script>
        <script src="~/js/PreventScroll.js"></script>
    </environment>
</head>
<body>
<div class="wrap mm-page mm-slideout" id="mm-1" style="">
    <header id="header" class="anim" style="margin-bottom: 100px;">
        <div class="wrap-logo">
            <img alt="One World Strong" class="logo-one-world-strong" src="~/img/logo-one-world-strong-2.svg">
        </div><nav class="">
            <div class="donate">
                <a class="owmbtn" href="https://www.oneworldstrong.org/copy-of-our-impact">Donate</a>
            </div><ul class="desktop-menu">
                @{
                    var userData = CheckUserLogin.GetUserData();
                    if (userData != null)
                    {
                        <li>
                            <a href="/User/NewsFeed">Welcome @userData.Name</a>
                        </li>
                        <li>
                            <a href="/index">Home</a>
                        </li>
                        <li>
                            <a href="/Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/index">Home</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/Register">Register</a>
                        </li>
                    }
                }
                <li>
                    <a href="/Explore">Explore</a>
                </li>
                <li>
                    <a href="#">Help us</a>
                </li>
                <li>
                    <a href="#">Gallery</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
            </ul>
            <div class="mobile-open">
                <span class="mobile-icon"></span>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
    <footer id="footer">
        <div class="wrap-std">
            <ul class="social clearfix">
                <li>
                    <a href="#">
                        <img alt="Facebook" src="img/icon-facebook.svg">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="Twitter" src="img/icon-twitter.svg">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="Instagram" src="/img/icon-instagram.svg">
                    </a>
                </li>
            </ul>
            <hr class="bg-white"/>
            <div class="columns clearfix">
                <div class="column column-1">
                    <h4>
                        <a href="#">About</a>
                    </h4>
                    <ul>
                        <li>
                            <a href="#">Mission</a>
                        </li>
                        <li>
                            <a href="#">Our story</a>
                        </li>
                        <li>
                            <a href="#">Board</a>
                        </li>
                        <li>
                            <a href="#">What we do</a>
                        </li>
                        <li>
                            <a href="#">How we do it</a>
                        </li>
                    </ul>
                </div>
                <div class="column column-2">
                    <h4>
                        <a href="#">Impact</a>
                    </h4><ul>
                        <li>
                            <a href="#">In the US</a>
                        </li>
                        <li>
                            <a href="#">Abroad</a>
                        </li>
                    </ul>
                </div>
                <div class="column column-3">
                    <h4>
                        <a href="#">Help us</a>
                    </h4>
                </div>
                <div class="column column-4">
                    <h4>
                        <a href="#">Gallery</a>
                    </h4>
                </div>
                <div class="column column-5">
                    <h4>
                        <a href="#">Contact us</a>
                    </h4>
                </div>
            </div>
            <hr class="bg-white"/>
            <div class="copyright"> © 2019 - One World Strong Foundation </div>
        </div>
    </footer>
</div>

<div id="mm-blocker" class="mm-slideout"></div>
@{
    var tickerData = IndexUserTicker.GetTickerData();
    if (tickerData?.Length > 0)
    {
        <section class="mm-slideout" id="ticker">
            <div class="ticker-inner">
                <div class="ticker">
                    @foreach (var tick in tickerData)
                    {
                        <div class="ticker-item">@tick</div>
                    }
                </div>
            </div>
        </section>
    }
}
</body>
</html>
