@page "/User/Teams/Invite/{teamid?}"
@model OWM.UI.Web.Pages.User.InviteMemberModel
@{
    ViewData["Title"] = "Invite";
    Layout = "Shared/UserLayout.cshtml";
}


<h4 class="font-weight-bold">Invite a friend to @Model.TeamName</h4>
<hr class="mb-1 bt-1"/>

<form method="post" asp-route-teamid="@Model.TeamId">
    <div asp-validation-summary="All" id="ValidationSummary" class="small"></div>
    @if (TempData[EditProfileModel.MessageKey] is string message)
    {
        <p class="alert alert-success mt-3 small" id="alertsuccess">@message</p>
    }
        <span class="small">Your friend email address:</span>
    <input asp-for="@Model.Input.EmailAddress" required type="email" class="form-control" value="" />

    <span class="small">Your friend's name:</span>
    <input asp-for="@Model.Input.RecipientName" required type="text" class="form-control" value=""/>

    <span class="small">Your invite message:</span>
    <textarea asp-for="@Model.Input.Message" required class="form-control" id="description" rows="3" style="resize: none;"></textarea>

    <button type="submit" class="btn btn-success mt-3">Send</button>
</form>