@page
@model OWM.UI.Web.Pages.User.InvitationsModel
@{
    ViewData["Title"] = "Invitations";
    Layout = "~/Pages/User/Shared/UserLayout.cshtml";
}
<form method="post">
    <div class="mr-1 mt-2">
        <label class="switch">
            <input type="checkbox" class="success">
            <span class="slider round"></span>
            <span class="small ml-2" id="showRead">Unread invitations</span>
        </label>
    </div>


    <div id="unread">
        @if (Model.EmptyState)
        {
            <div>
                <span>:( No invitations... yet.</span>
                <span>But you can search and join teams</span>
                <a asp-page="/User/SearchTeams">Search for a team</a>
            </div>
        }
        else
        {
            foreach (var invitation in Model.Invitations.Where(x => !x.Read))
            {
                <img class="img-thumbnail" src="@invitation.SenderProfilePicture" alt="" />
                <span class="text-dark small">@invitation.SenderFullName</span>
                <span>invited you to join</span>
                <h3 class="mb-0">@invitation.TeamName</h3>
                <div class="mb-2 mt-2 x-small text-muted border-bottom">Invited on: @invitation.Created.ToString(Application.Services.Utils.Constants.DateFormat_LongMonth)</div>

                @*<a asp-route-teamid="@invitation.TeamId" asp-page="/TeamInfo">View team</a>*@
                <button asp-route-invitationid="@invitation.InvitationId" asp-route-teamid="@invitation.TeamId">View team</button>
            }
        }
    </div>
    <div id="read" style="display: none">
        @foreach (var invitation in Model.Invitations.Where(x => x.Read))
        {
            <img class="img-thumbnail" src="@invitation.SenderProfilePicture" alt="" />
            <span class="text-dark small">@invitation.SenderFullName</span>
            <span>invited you to join</span>
            <h3 class="mb-0">@invitation.TeamName</h3>
            <div class="mb-2 mt-2 x-small text-muted border-bottom">Invited on: @invitation.Created.ToString(Application.Services.Utils.Constants.DateFormat_LongMonth)</div>

            <a asp-route-teamid="@invitation.TeamId" asp-page="/TeamInfo">View team</a>
        }
    </div>
</form>
<script>
    $('input.success').change(function () {
        ReadMessagesSwitch();
    });

    function ReadMessagesSwitch() {
        if ($('input.success').is(':checked')) {
            $('#showRead').text('Read invitations');
            $("#read").show();
            $("#unread").hide();
        } else {
            $('#showRead').text('Unread invitations');
            $("#read").hide();
            $("#unread").show();
        }
    }
</script>
