@page "{handler?}/{BoardId?}"
@model MessagesModel
@{
    Layout = "Shared/UserLayout";
}
<link href="~/css/Messages.css" rel="stylesheet" />
<h4 class="font-weight-bold">Messages</h4>
<hr class="mb-0 mb-3" />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-success">
                <div class="btn-group">
                    <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        team's list
                    </button>
                    <div class="dropdown-menu">
                        @foreach (var board in Model.TeamBoards)
                        {
                            if (Model.BoardId == board.BoardId)
                            {
                                <a class="dropdown-item active" href="/User/Messages/Board/@board.BoardId">
                                    @board.TeamName
                                    @if (board.UnreadMessages != 0)
                                    {
                                        <span class="badge badge-primary">@board.UnreadMessages</span>
                                    }
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="/User/Messages/Board/@board.BoardId">
                                    @board.TeamName
                                    @if (board.UnreadMessages != 0)
                                    {
                                        <span class="badge badge-primary">@board.UnreadMessages</span>
                                    }
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card-body" style="min-height: 400px;">
                @if (Model.EmptyState)
                {
                    <div>select a team to see the message board</div>
                }
                else
                {
                    <ul class="chat">
                        @foreach (var message in Model.BoardMessages)
                        {
                            <li class="left clearfix">
                                <span class="float-left">
                                    <img src="@message.Sender.ProfilePicture" alt="@message.Sender.FullName" class="rounded-circle" style="width: 40px; height: 40px;"/>
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header pb-1">
                                        <strong>@message.Sender.FullName</strong>
                                        <small class="float-right text-muted xx-small" id="time">
                                            <i class="far fa-clock"></i>
                                            <time class="timeago" datetime="@message.Date">
                                                @message.Date.ToString(Application.Services.Utils.Constants.DateFormat_LongMonth)
                                            </time>
                                        </small>
                                    </div>
                                    <p class="small mt-1 mb-2">
                                        @message.Text
                                    </p>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="card-footer clearfix">
                <form method="post">
                    <textarea class="form-control" rows="3" id="message" placeholder="Type message here... " asp-for="MessageText"></textarea>
                    <span class="col-lg-6 col-md-6">
                        <button type="submit" asp-route-BoardId="@Model.BoardId" class="btn btn-warning btn-lg btn-block" id="btn-chat">Send</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
