@page
@using OWM.UI.Web.Controllers
@model TeamManagementModel
@{
    Layout = "Shared/UserLayout";
}
@{
    var teamData = TeamManagment.GeTeams();
}
<style>
    table tr td{ background-color: white;vertical-align: middle;padding: 3px 5px!important;font-size: 12pt;vertical-align: middle!important;}
    table tr th{ background-color: white;vertical-align: middle;}
    table tr td:first-child{ padding-left: .75rem!important;}
    .fa{ margin-bottom: 4px;margin-right: 5px;}
</style>
<h2>Team Managment</h2>
<hr/>
<div class="row mb-3">
    <div class="col-md-6 text-left">
        <div class="alert alert-info small">
            Create a team and send invite link to your friends.
            <div class="d-block mt-2">
                <a class="btn btn-primary" href="~/User/CreateTeam">
                    <span class="fa fa-plus"></span> Create new team
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-left">
        <div class="alert alert-info small text-left">
            Or you can search teams and join them.<br/>&nbsp;
            <div class="d-block mt-2">
                <a class="btn btn-success" href="~/User/SearchTeams">Join a team</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered" id="tbluserteams">
    <tr>
        <th >Team name</th>
        <th >Miles pledged</th>
        <th >Miles Completed</th>
        <th></th>
    </tr>
    @foreach (var team in teamData)
    {
        <tr>
            <td>@team.TeamName </td>
            <td class="text-center">
                <span class="col border-right text-darcsuccess" title="me">
                    <span class="fa fa-user text-info"></span> @team.MilesPledgedMe
                </span>
                <span class="col text-darcsuccess" title="team">
                    <span class="fa fa-users text-darcsuccess"></span> @team.MilesPledgedTeam
                </span>
            </td>

            <td class="text-center">
                <span class="col border-right text-darcsuccess" title="me">
                    <span class="fa fa-user text-info"></span> @team.MilesCompletedMe
                </span>
                <span class="col text-darcsuccess" title="team">
                    <span class="fa fa-users text-darcsuccess"></span> @team.MilesCompletedTeam
                </span>
            </td>

            <td>
                <a href="#" class="fa fa-edit text-info" team-id="@team.TeamId"></a>
            </td>
        </tr>
    }
</table>
