@page "/User/Teams/List"
@using OWM.UI.Web.Controllers
@model TeamManagementModel
@{
    ViewData["Title"] = "Teams list";
    Layout = "Shared/UserLayout";
}
<link href="~/css/TeamManagment.css" rel="stylesheet" />
<h4 class="font-weight-bold">My teams</h4>
<hr class="mb-0 mb-3" />
<div class="row mb-3">
    <div class="col-md-6 text-center">
        <div class="d-flex flex-wrap align-content-around alert alert-light border" style="height: 108px;">
            <div class="small w-100">Create a team and send an invitation link to your friends.</div>
            <div class="w-100">
                <a class="btn btn-warning" asp-page="/User/CreateTeam">
                    <span class="fa fa-plus"></span> Create new team
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="d-flex flex-wrap align-content-around alert alert-light border" style="height: 108px;">
            <div class="small w-100">Or you can search teams and join a team.</div>
            <div class="w-100">
                <a class="btn btn-success" asp-page="/User/SearchTeams">Join a team</a>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive-sm">
    <table id="tbluserteams" class="table">
        <tr>
            <th>Team name</th>
            <th>Miles pledged</th>
            <th>Miles Completed</th>
            <th colspan="3">Actions</th>
        </tr>
        @foreach (var team in Model.TeamsList)
        {
            <tr>
                <td>
                    <a asp-route-teamid="@team.TeamId" asp-page="/TeamInfo">@team.TeamName</a>
                </td>
                <td class="text-center">
                    <span class="col border-right text-info" title="Me">
                        <span class="fa fa-user text-info"></span> @team.MyPledgedMiles
                    </span>
                    <span class="col text-info" title="Team">
                        <span class="fa fa-users text-info"></span> @team.TotalMilesPledged
                    </span>
                </td>

                <td class="text-center">
                    <span class="col border-right text-info" title="Me">
                        <span class="fa fa-user text-info"></span> @team.MyCompletedMiles
                    </span>
                    <span class="col text-info" title="Team">
                        <span class="fa fa-users text-info"></span> @team.TotalMilesCompleted
                    </span>
                </td>
                @if (!team.IsBlocked)
                {
                    <td>
                        <a class="fa fa-plus text-success" asp-route-teamId="@team.TeamId" asp-page="/User/TeamMiles" title="Increase miles pledged/completed"></a>
                    </td>
                    <td>
                        <a class="fa fa-envelope text-success" asp-route-teamid="@team.TeamId" asp-page="/User/InviteMember" title="Invite a friend"></a>
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                <td>
                    @if (team.IsCreator)
                    {
                        <a class="fa fa-edit text-warning" asp-route-teamid="@team.TeamId" asp-page="/User/EditTeam" title="Edit your team"></a>
                    }
                </td>
            </tr>
        }
    </table>
</div>

