@page "/User/Teams/List"
@using OWM.UI.Web.Controllers
@model TeamManagementModel
@{
    Layout = "Shared/UserLayout";
}
<style>
    table tr td{ background-color: white;vertical-align: middle;padding: 3px 5px!important;font-size: 12pt;vertical-align: middle!important;}
    table tr th{ background-color: white;vertical-align: middle;}
    table tr td:first-child{ padding-left: .75rem!important;}
    .fa{ margin-bottom: 4px;margin-right: 5px;}
</style>
<h2>Team Managment</h2>
<hr/>
<div class="row mb-3">
    <div class="col-md-6 text-left">
        <div class="alert alert-warning small">
            Create a team and send invite link to your friends.
            <div class="d-block mt-2">
                <a class="btn btn-primary" asp-page="/User/CreateTeam">
                    <span class="fa fa-plus"></span> Create new team
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-left">
        <div class="alert alert-warning small text-left">
            Or you can search teams and join them.<br/>&nbsp;
            <div class="d-block mt-2">
                <a class="btn btn-success" asp-page="/User/SearchTeams">Join a team</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered" id="tbluserteams">
    <tr>
        <th >Team name</th>
        <th >Miles pledged</th>
        <th >Miles Completed</th>
        <th></th>
    </tr>
    @foreach (var team in Model.TeamsList)
    {
        <tr>
            <td>@team.TeamName</td>
            <td class="text-center">
                <span class="col border-right text-darcsuccess" title="me">
                    <span class="fa fa-user text-info"></span> @team.MyPledgedMiles
                </span>
                <span class="col text-darcsuccess" title="team">
                    <span class="fa fa-users text-darcsuccess"></span> @team.TotalMilesPledged
                </span>
            </td>

            <td class="text-center">
                <span class="col border-right text-darcsuccess" title="me">
                    <span class="fa fa-user text-info"></span> @team.MyCompletedMiles
                </span>
                <span class="col text-darcsuccess" title="team">
                    <span class="fa fa-users text-darcsuccess"></span> @team.TotalMilesCompleted
                </span>
            </td>

            <td>
                <a href="#" class="fa fa-edit text-info" team-id="@team.TeamId"></a>
            </td>
        </tr>
    }
</table>
