@page "/User/Teams/Miles/{teamId?}"
@model OWM.UI.Web.Pages.User.TeamMilesModel
@{
    Layout = "Shared/UserLayout";
    string hideComplete = Model.MilesInformation.CanCompleteMiles ? "" : "hidden";
    string hidePledge = Model.MilesInformation.CanPledgeMiles ? "" : "hidden";
}


<style>
    #news {
        margin: 10px 0px 0px 150px
    }

    .alert_list {
        font-size: 11px;
        color: grey
    }

    li.alert_li {
        font-size: 11px;
        color: grey;
        padding: 10px 0px 2px 0px;
        border-bottom: thin solid #c0c0c0;
    }

        li.alert_li:hover {
            background-color: #eee
        }

    .turn_off_alert {
        float: right;
        margin-bottom: 1px
    }

    a.alert_message {
        color: grey
    }

        a.alert_message:hover {
            color: grey
        }
</style>
<h4 class="font-weight-bold">@Model.MilesInformation.TeamName</h4>
<hr />
<div class="card" id="card">
    <div class="card-body pt-2">
        <div class="row mt-3">
            <div class="col-9">
                <span class="x-small mb-1">Team progress</span>
                <div class="progress" style="height: 25px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="teamprogress" style="width: @Model.MilesInformation.TeamCompletedMilesPercentage%">
                        @Model.MilesInformation.TeamCompletedMiles miles
                    </div>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div>&nbsp;</div>
                <div class="x-small" style="line-height: 25px;" id="TeamTotalMilesPledged">@Model.MilesInformation.TeamTotalMilesPledged miles</div>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <span class="x-small mb-1">My progress</span>
                <div class="progress" style="height: 25px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="myprogress" style="width: @Model.MilesInformation.MyCompletedMilesPercentage%">
                        @Model.MilesInformation.MyCompletedMiles miles
                    </div>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div>&nbsp;</div>
                <div class="x-small" style="line-height: 25px;" id="MyPledgedMiles">@Model.MilesInformation.MyPledgedMiles miles</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-9 col-sm-12 col-12">
                <div class="@hidePledge pledgeprogress">
                    <div class="xx-small mb-1">26.2 miles (<span id="MilesUntilCanComplete">@Model.MilesInformation.MilesUntilCanComplete</span> more needed)</div>
                    <div class="progress" style="height: 15px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="MilesUntilCanCompletePercentage" style="width: @Model.MilesInformation.MilesUntilCanCompletePercentage%">
                            @Model.MilesInformation.TeamTotalMilesPledged miles
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-success cancelc @hidePledge" type="button" id="pledged">
                    <span class="fa fa-plus"></span> Pledged miles
                </button>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-primary cancelp @hideComplete" type="button" id="complete">
                    <span class="fa fa-plus"></span> Completed miles
                </button>
            </div>
        </div>
    </div>
</div>

<div style="display: none" class="alert_list pledgeElements">
    <div class="x-small mb-1">Miles : </div>
    <input class="form-control miles-pledged" type="number" step="0.1" />
    <div class="row mt-2">
        <div class="col-6">
            <button type="button" class="btn btn-sm btn-success btn-block" onclick="pledgeMiles()">
                <img src="~/img/loading.gif" class="loading-sm" style="display: none;"/> Submit
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-danger btn-block cancelp">Cancel</button>
        </div>
    </div>
</div>

<div style="display: none" class="alert_list completeElemnts">
    <div class="x-small mb-1">Miles : </div>
    <input class="form-control miles-complete" type="number" />
    <div class="row mt-2">
        <div class="col-6">
            <button type="button" class="btn btn-sm btn-success btn-block" onclick="completeMiles();">
                <img src="~/img/loading.gif" class="loading-sm" style="display: none;"/> Submit
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-danger btn-block cancelc">Cancel</button>
        </div>
    </div>
</div>

<script>
    $(document).mouseup(function(e) 
    {
        var container = $(".popover");
        if (!container.is(e.target) && container.has(e.target).length === 0) 
        {
            $('#pledged').popover('hide');
            $('#complete').popover('hide');
        }
    });

    $(document).on('click', '.cancelp', function () {
        $('#pledged').popover('hide');
    });

    $("#pledged").popover({
        'title': 'Increase your miles pledged',
        'html': true,
        'placement': 'bottom',
        'content': $(".pledgeElements").html()
    });

    $(document).on('click', '.cancelc', function () {
        $('#complete').popover('hide');
    });

    $("#complete").popover({
        'title': 'Increase your completed miles',
        'html': true,
        'placement': 'bottom',
        'content': $(".completeElemnts").html()
    });

    function pledgeMiles() {
        if (!isNaN(parseFloat($($('.miles-pledged')[1]).val()))) {
            $('.loading-sm').show();
            AjaxGet({
                url: '/api/Miles/IncreaseMilesPledged',
                param: {
                    tId: @Model.TeamId,
                    pId: @Model.ProfileId,
                    miles: parseFloat($($('.miles-pledged')[1]).val())
                },
                func: preventCompleteOrPledge
            });
        } else {
            alert("error");
        }
    }


    function completeMiles() {
        if (!isNaN(parseFloat($($('.miles-complete')[1]).val()))) {
            $('.loading-sm').show();
            AjaxGet({
                url: '/api/Miles/CompleteMiles',
                param: {
                    tId: @Model.TeamId,
                    pId: @Model.ProfileId,
                    miles: parseFloat($($('.miles-complete')[1]).val())
                },
                func: preventCompleteOrPledge
            });
        } else {
            ElementRedalert('card', 'top center', 'Error');
        }
    }

    /////Check member can pledge or complete miles/////
    function preventCompleteOrPledge(e) {
        if (!e.success) {
            ElementRedalert('card', 'top center', e.displayMessage);
            $('.loading-sm').hide();
            return;
        }
        if (e.data.canCompleteMiles) {
            $('#complete').removeClass('hidden');
            $('#pledged').addClass('hidden');
            $('.pledgeprogress').addClass('hidden');
        }
        if (e.data.canPledgeMiles) {
            $('#complete').addClass('hidden');
            $('#pledged').removeClass('hidden');
        }
        $('#complete').popover('hide');
        $('#pledged').popover('hide');
        updateProgressBar(e.data);
        ElementGreenalert('card', 'top center', e.displayMessage);
    }

    function updateProgressBar(e) {
        $('#myprogress').css('width', e.myCompletedMilesPercentage + '%').text(e.myCompletedMiles + ' miles');
        $('#teamprogress').css('width', e.teamCompletedMilesPercentage + '%').text(e.teamCompletedMiles + ' miles');
        $('#MilesUntilCanCompletePercentage').css('width', e.milesUntilCanCompletePercentage + '%').text(e.teamTotalMilesPledged + ' miles');
        $('#MyPledgedMiles').text(e.myPledgedMiles + ' miles');
        $('#TeamTotalMilesPledged').text(e.teamTotalMilesPledged + ' miles');
        $('#MilesUntilCanComplete').text(e.milesUntilCanComplete);
    }
</script>