@page "/User/Teams/List"
@using OWM.UI.Web.Controllers
@model TeamManagementModel
@{
    Layout = "Shared/UserLayout";
}

<link href="~/css/TeamManagment.css" rel="stylesheet" />
<h2>My teams</h2>
<hr />
<div class="row mb-3">
    <div class="col-md-6 text-left">
        <div class="alert alert-info small">
            Create a team and send invite link to your friends.
            <div class="d-block mt-2">
                <a class="btn btn-primary" asp-page="/User/CreateTeam">
                    <span class="fa fa-plus"></span> Create new team
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-left">
        <div class="alert alert-info small text-left">
            Or you can search teams and join them.<br />&nbsp;
            <div class="d-block mt-2">
                <a class="btn btn-success" asp-page="/User/SearchTeams">Join a team</a>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive-sm">
    <table id="tbluserteams" class="table">
        <tr>
            <th>Team name</th>
            <th>Miles pledged</th>
            <th>Miles Completed</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var team in Model.TeamsList)
        {
            <tr>
                <td>
                    <a asp-route-teamid="@team.TeamId" asp-page="/TeamInfo">@team.TeamName</a>
                </td>
                <td class="text-center">
                    <span class="col border-right text-info" title="Me">
                        <span class="fa fa-user text-info"></span> @team.MyPledgedMiles
                    </span>
                    <span class="col text-info" title="Team">
                        <span class="fa fa-users text-info"></span> @team.TotalMilesPledged
                    </span>
                </td>

                <td class="text-center">
                    <span class="col border-right text-info" title="Me">
                        <span class="fa fa-user text-info"></span> @team.MyCompletedMiles
                    </span>
                    <span class="col text-info" title="Team">
                        <span class="fa fa-users text-info"></span> @team.TotalMilesCompleted
                    </span>
                </td>
                <td>
                    <a class="fa fa-envelope text-success" asp-route-teamid="@team.TeamId" asp-page="/User/InviteMember" title="Invite a friend"></a>
                </td>
                <td>
                    @if (team.IsCreator)
                    {
                        <a class="fa fa-edit text-warning" asp-route-teamid="@team.TeamId" asp-page="/User/EditTeam" title="Edit your team"></a>
                    }
                </td>
            </tr>
        }
    </table>
</div>

