@page "/User/Teams/Miles/{teamId?}"
@model OWM.UI.Web.Pages.User.TeamMilesModel
@{
    Layout = "Shared/UserLayout";
    string hideComplete = Model.MilesInformation.CanCompleteMiles ? "" : "hidden";
    string hidePledge = Model.MilesInformation.CanPledgeMiles ? "" : "hidden";
}


<style>
    #news {
        margin: 10px 0px 0px 150px
    }

    .alert_list {
        font-size: 11px;
        color: grey
    }

    li.alert_li {
        font-size: 11px;
        color: grey;
        padding: 10px 0px 2px 0px;
        border-bottom: thin solid #c0c0c0;
    }

        li.alert_li:hover {
            background-color: #eee
        }

    .turn_off_alert {
        float: right;
        margin-bottom: 1px
    }

    a.alert_message {
        color: grey
    }

        a.alert_message:hover {
            color: grey
        }
</style>
<h4 class="font-weight-bold">@Model.MilesInformation.TeamName</h4>
<hr />
<div class="card" id="card">
    <div class="card-body pt-2">
        <div class="row mt-3">
            <div class="col-9">
                <span class="x-small mb-1">Team progress</span>
                <div class="progress" style="height: 25px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="teamprogress" style="width: @Model.MilesInformation.TeamCompletedMilesPercentage%">
                        @Model.MilesInformation.TeamCompletedMiles miles
                    </div>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div>&nbsp;</div>
                <div class="x-small" style="line-height: 25px;" id="TeamTotalMilesPledged">@Model.MilesInformation.TeamTotalMilesPledged miles</div>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <span class="x-small mb-1">My progress</span>
                <div class="progress" style="height: 25px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="myprogress" style="width: @Model.MilesInformation.MyCompletedMilesPercentage%">
                        @Model.MilesInformation.MyCompletedMiles miles
                    </div>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div>&nbsp;</div>
                <div class="x-small" style="line-height: 25px;" id="MyPledgedMiles">@Model.MilesInformation.MyPledgedMiles miles</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-9 col-sm-12 col-12">
                <div class="@hidePledge pledgeprogress">
                    <div class="xx-small mb-1">
                        <span id="MilesUntilCanComplete">@Model.MilesInformation.MilesUntilCanComplete.ToString("0.0")</span> more miles to pledge until 26.2
                    </div>
                    <div class="progress" style="height: 15px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="MilesUntilCanCompletePercentage" style="width: @Model.MilesInformation.MilesUntilCanCompletePercentage%">
                            @Model.MilesInformation.TeamTotalMilesPledged miles
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-success cancelc @hidePledge" type="button" id="pledged">
                    <span class="fa fa-plus"></span> Pledged miles
                </button>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-primary cancelp @hideComplete" type="button" id="complete">
                    <span class="fa fa-plus"></span> Completed miles
                </button>
            </div>
        </div>
    </div>
</div>

<div style="display: none" class="alert_list pledgeElements">
    <div class="x-small mb-1">Miles : </div>
    <input class="form-control miles-pledged" type="number" step="0.1" />
    <div class="row mt-2">
        <div class="col-6">
            <button type="button" class="btn btn-sm btn-success btn-block" onclick="pledgeMiles()">
                <img src="~/img/loading.gif" class="loading-sm" style="display: none;"/> Submit
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-danger btn-block cancelp">Cancel</button>
        </div>
    </div>
</div>

<div style="display: none" class="alert_list completeElemnts">
    <div class="x-small mb-1">Miles : </div>
    <input class="form-control miles-complete" type="number" />
    <div class="row mt-2">
        <div class="col-6">
            <button type="button" class="btn btn-sm btn-success btn-block" onclick="completeMiles();">
                <img src="~/img/loading.gif" class="loading-sm" style="display: none;"/> Submit
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-danger btn-block cancelc">Cancel</button>
        </div>
    </div>
</div>
<input type="hidden" value="@Model.TeamId" id="teamId"/>
<input type="hidden" value="@Model.ProfileId" id="profileId"/>
<script src="~/js/TeamMiles.js"></script>